:root {
    --brand-dark: #1a1a1a;
    --border-color: #272727;
    --text-color: white;
    --selection-basic: rgb(84, 84, 253);
    --send-button: #4d63e4;
    --border-width: 1px;
    --uri-font: 'Open Sans', sans-serif;
    --status-font: Arial, Helvetica, sans-serif;
    --border-radiai: 0px;
    --success-color: #67e24b;
}

* {
    border-radius: var(--border-radiai);
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    margin: 0;
    background: var(--brand-dark);
    color: white;
}

header{
    width: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 10vw;
}
header h1{
    width: inherit;
    color: var(--send-button);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
}

header h1 span{

    font-weight:lighter;
    color: white;
    font-family: var(--uri-font);

}
.outer {
    display: flex;
    flex-direction: row;
    height: 60vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    border: var(--border-width) solid var(--border-color);
}

.block {
    width: 50%;
}

.block-1 {
    background-color: var(--brand-dark);
    resize: horizontal;
    overflow: hidden;
    min-width: 25%;
}

#code {
    background-color: var(--brand-dark);
    outline: none;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
}

#code::selection {
    background-color: var(--selection-basic);
}

#output {
    background-color: var(--brand-dark);
    outline: none;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
}
#format-json{
    border: solid 1px var(--border-color);
    padding: 2px 10px 2px 10px;
    background: var(--border-color);
    color: grey;
    margin-left: 10vw;
    margin-bottom: 2px;
    user-select: none;

}
#format-json:active{
    border: solid 1px grey;
    background: var(--brand-dark);
    color: white;
}

.block-2 {
    background-color: var(--brand-dark);
    flex: 1;
    min-width: 25%;
    overflow: hidden;
}

.slider {
    cursor: w-resize;
    border: var(--border-width) solid var(--border-color);
    background: var(--brand-dark);
    background-color: transparent;
    border-width: 0px 0px 0px 5px;
    user-select: none;
    width: 0px;
}

.uri-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: var(--brand-dark);
    height: 30px;
}

#input-uri {
    outline: none;
    background: none;
    color: white;
    border: none;
    background: var(--brand-dark);
    width: 100%;
    min-width: 100px;
    border-bottom: var(--border-width) solid var(--border-color);
    margin-left: 20px;
    font-family: var(--uri-font);
}

/* #input-rui::selection{
        color: gray;
    } */

input[type=url]::-moz-selection {
    background: #777;
    color: white;
}

#request-type {
    background: none;
    border: none;
    min-width: 100px;
    max-width: 100px;
    padding: 5px;
    color: #2727bd;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

#send-request {
    background: none;
    border: none;
    font-size: medium;
    min-width: 100px;
    max-width: 100px;
    padding: 5px;
    background: var(--send-button);
    margin: 0px;
    color: white;
}

#send-request:hover {
    background: #007eca;
}

#send-request:active {
    background: #026eb1;
    color: #ccc;
}

.status-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    background: var(--brand-dark);
    height: 30px;
    /* position: fixed; */
    border-bottom: var(--border-width) solid var(--border-color);
}

#status-request {
    background: var(--success-color);
    font-weight: bold;
}

#status {
    font-weight: lighter;
}

#query-time, #data-size {
    background: #3f3f3f;
}

.status-container>div {
    margin: 3px;
    padding: 5px;
    color: #eee;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    user-select: none;
    font-size: 14px;
    text-align: center;
    font-family: var(--status-font);
}

.option-get {
    color: blue;
}

.option-post {
    color: green;
}

.option-put {
    color: orangered;
}

.option-delete {
    color: red;
}

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.block  .load-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000003f;
}

.load-5 {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 40%;
    height: 45px;
    width: 45px;
}

@keyframes loadingE {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid var(--send-button);
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: var(--send-button);
}

.load-wrapper {
    display: none;
}

abbr{
    text-decoration: none;
}

/* footer :start */

.footer {
    padding: 15px;
    background-color: #1f1f1f;
    color: #fff;
    font-family: var(--uri-font);
    font-size:medium;
}

.footer>div {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.social-icon {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
    z-index: 100;
    transform-origin: 50% 50%;
    z-index: 100;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.social-icon:hover{
    -webkit-animation: scale .4s ease-out;
    animation: scale .4s ease-out;
    transform-origin: 50% 50%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.icon {
    z-index: 100;
    height: 30px;
    transform-origin: 50% 50%;
    z-index: 100;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.icon:hover {
    -webkit-animation: scale .4s ease-in-out;
    animation: scale 1s ease-in-out;
    transform-origin: 50% 50%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}


@keyframes scale{
    0%
    {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%
    {
        -webkit-transform: scale(1.1);
        transform:scale(1.1);
    }
    100%
    {
        -webkit-transform: scale(1);
        transform:scale(1);
    }
}

.alink{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: large;
}

/* footer end */
